/* app css stylesheet */
html, body{
  height:100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.navbar {
  margin-bottom: 0px !important;
}

.move {
  cursor: move;
}

.clear1px {
  clear: both;
  height: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.form-group{
  margin:0;
}
.modal-content .modal-body{
  padding-top: 0px;
}
.right{
  float: right;
}

section{
  padding-top: 10px;
  padding-bottom:10px;
  width:100%;
  display: inline-block;
  text-align: center;
}

#sections {
  height: 100%;
}

drag-piste section {
  height:60%;
}

section#player span:not(.toggle){
  font-size: 30px;
  width:auto;
  height:auto;
}
section#player  {
  border-bottom: 1px solid black;
  text-align:left;
  padding-left: 15px !important;
}

section#player label:not(.togglebutton label){
  height:100%;
  font-size: 40px;
}
section#multipisteVolume{
  background-color: #D4D4D1;
  overflow-x:auto;
  overflow-y:hidden;
 white-space: nowrap;
  height:37%;
}

.slidernx{
  font-size: 130%;
}
#multipisteVolume canvas{
  padding: 2px 2px 2px 2px;
}

section#contains-tracks {
  overflow: auto;
  padding: 0;
  moz-transition: width ease 1s;
  -webkit-transition: width ease 1s;
}
section .tracks {
  border-bottom: 1px solid #999;
  clear: both;
}

section .tracks .label {
  vertical-align: 7px;
}

.labelToggle{
  position: absolute;
  font-size: 20px !important;
}
#player .btn, .input-group-btn .btn{
  padding: 0px 20px;
  margin:0;

}
section#player{
  padding:0;
}

.tracks {
  width: 200%;
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
}

.tracks .handle {
  top: 4px;
  position: absolute;
  left: 5px;
  cursor:move;
}

.multi-tracks {
  float: left;
  white-space: nowrap;
  position:relative;
  padding-left: 200px;
}

#floatingSample {
  display: none;
  left:0px;
  right:0px;
  position: fixed;
  z-index:2 !important;
  overflow: hidden;
  height: 32px;
  width:32px;
}

.multi-tracks td {
  background-color: #D4D4D1;
  overflow: hidden;
  display: inline-block;
  cursor: move;
  width: 100px;
  height: 32px;
}

.multi-tracks td:not(:first-child):hover {
  background-color: white;
}

.multi-tracks td:first-child {
  padding: 3px;
  position: absolute;
  padding-left: 15px;
  width: 200px;
  border-right: 1px solid #999;
  left: 0px;
  z-index:3;
}

.multi-tracks td:empty {
  background-color: transparent;
}

.sample-picker {
  padding: 0;
  overflow: scroll;
  transition: all ease 1s;
  moz-transition: width ease 1s;
  -webkit-transition: width ease 1s;
  overflow-x:hidden;
}

.searchBoxHide {
  width:0px !important;
}

.arrows {
  position:fixed;
  bottom:0;
  right:50%;
  left:50%;
}

.add-track {
  position:fixed !important;
  bottom:5%;
  right:2%;
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  z-index:4;
}

.icon-plus {
  margin-top: 15px;
}

.view-app {
  height:calc(100% - 80px);
}

.panel-heading {
  border-radius: 0px;
}

.user-add {
  background:lightblue;
  padding:5px;
  display:inline-block;
  cursor:pointer;
  margin-right:5px;
}

.user-add .plus {
  font-weight: bold;
}

.volume-slider {
  display:inline-block;
  width: 50px;
  height:200px;
}

.volume-slider div {
  transform: rotateZ(270deg);
  position: relative;
  top: -79px;
  right: 13px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 200px !important;
  margin: 93px -72px;
  transform: rotateZ(270deg);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #1c0000, 0px 0px 1px #360000;
  background: #03a9cc;
  border-radius: 0px;
  border: 1px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #07d1fb;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #1c0000, 0px 0px 1px #360000;
  background: #03a9cc;
  border-radius: 0px;
  border: 1px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #027f9a;
  border: 1px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #1c0000, 0px 0px 1px #360000;
}
input[type=range]::-ms-fill-upper {
  background: #03a9cc;
  border: 1px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #1c0000, 0px 0px 1px #360000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.6px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #03a9cc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #07d1fb;
}


