/* app css stylesheet */
html, body{
  height:100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.move {
  cursor: move;
}

.clear1px {
  clear: both;
  height: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.form-group{
  margin:0;
}
.modal-content .modal-body{
  padding-top: 0px;
}
.right{
  float: right;
}
#sections{
  width:100%;
}

section{
  padding-top: 10px;
  padding-bottom:10px;

  width:100%;
  display: inline-block;
  text-align: center;
}
section#player{
  border-top: 1px solid #3399FF;
}
section#player span:not(.toggle){
  font-size: 30px;
  width:auto;
  height:auto;
}
section#player .arrows {
  margin-top:20px;
}
section#player label:not(.togglebutton label){
  height:100%;
  font-size: 40px;
}
section#multipisteVolume{
  background-color: #D4D4D1;
}

.slidernx{
  font-size: 130%;
}
#multipisteVolume canvas{
  padding: 2px 2px 2px 2px;
}

section#contains-tracks {
  height: 300px;
  overflow: auto;
  padding: 0;
}
section .tracks {
  border-bottom: 1px solid #999;
  clear: both;
}

section .tracks .label {
  vertical-align: 7px;
}

.labelToggle{
  position: absolute;
  font-size: 20px !important;
}
#player .btn, .input-group-btn .btn{
  padding: 0px 20px;
  margin:0;

}
section#player{
  padding:0;
}

.tracks {
  width: 200%;
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
}

.tracks .handle {
  top: 4px;
  position: absolute;
  left: 5px;
  cursor:move;
}

.multi-tracks {
  float: left;
  white-space: nowrap;
  position:relative;
  padding-left: 200px;
}

#floatingSample {
  display: none;
  left:0px;
  right:0px;
  position: fixed;
  z-index:2 !important;
  overflow: hidden;
  height: 32px;
  width:32px;
}

.multi-tracks td {
  background-color: #D4D4D1;
  overflow: hidden;
  display: inline-block;
  cursor: move;
  width: 100px;
  height: 32px;
}

.multi-tracks td:not(:first-child):hover {
  background-color: white;
}

.multi-tracks td:first-child {
  padding: 3px;
  position: absolute;
  padding-left: 15px;
  width: 200px;
  border-right: 1px solid #999;
  left: 0px;
  z-index:3;
}

.multi-tracks td:empty {
  background-color: transparent;
}

.sample-picker {
  padding: 0;
  height: 300px;
  overflow: scroll;
}

.user-add {
  background:lightblue;
  padding:5px;
  display:inline-block;
  cursor:pointer;
  margin-right:5px;
}

.user-add .plus {
  font-weight: bold;
}

.volume-slider {
  display:inline-block;
  width: 50px;
  height:200px;
}

.volume-slider input {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}