<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="TopMix" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="TopMix" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="TopMix" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="TopMix" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <header></header>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>
<div id="sections">
  <section id="player">
    <div class="container">
      <span class="btn material-icons">skip_previous</span>
      <span class="btn material-icons">play_arrow</span>
      <span class="btn material-icons">pause</span>
      <span class="btn material-icons">skip_next</span>
      <span class="btn" disabled="true">3:11</span>
      <span class="btn material-icons right" ng-show="!hideMultipisteVolume" ng-click="hideMultipisteVolume=true">arrow_drop_down</span>
      <span class="btn material-icons right" ng-show="hideMultipisteVolume" ng-click="hideMultipisteVolume=false">arrow_drop_up</span>
    </div>
  </section>
  <section id="multipisteVolume" ng-hide="hideMultipisteVolume">
    <div class="container">
      <canvas nx="slider" id="sliderPiste1" min="0" max="100" label="Piste 1" height="200" width="80" class="slidernx"></canvas>
      <canvas nx="slider" id="sliderPiste2" min="0" max="100" label="Piste 2" height="200" width="80" class="slidernx"></canvas>
      <canvas nx="slider" id="sliderPiste3" min="0" max="100" label="Piste 3" height="200" width="80" class="slidernx"></canvas>
      <canvas nx="slider" id="sliderPiste4" min="0" max="100" label="Piste 4" height="200" width="80" class="slidernx"></canvas>
      <canvas nx="slider" id="sliderPiste5" min="0" max="100" label="Piste 5" height="200" width="80" class="slidernx"></canvas>
    </div>
  </section>
</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <!-- Import Services -->
  <script src="services/login.js"></script>
  <script src="services/signin.js"></script>

  <!-- Import Controllers -->
  <script src="controllers/header.js"></script>

  <script type='text/javascript' src='nexusUI.js'></script>
</body>
</html>
