<div class="modal fade" id="signinModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Signin</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="signinForm" ng-submit="signin()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label for="inputUsernameSignin" class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="username_signinModal" class="form-control" id="inputUsernameSignin" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordSignin" class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" ng-model="password_signinModal" class="form-control" id="inputPasswordSignin" placeholder="Password" required>
                            </div>

                        </div>
                        <div class="form-group right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Signin" />
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="loginForm" ng-submit="login()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label for="inputUsername" class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="username_loginModal" class="form-control" id="inputUsername" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" ng-model="password_loginModal" class="form-control" id="inputPassword" placeholder="Password" required>
                            </div>

                        </div>
                        <div class="form-group right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Login" />
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Brand</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" ng-if="!logged" data-target="#signinModal">Signin</a></li>
                <li><a href="#" data-toggle="modal" ng-if="!logged" data-target="#loginModal">Login</a></li>
                <li><a ng-if="logged" ng-click="logout()" href="#" >Disconnect</a></li>
            </ul>
        </div>
    </div>
</div>

