<div class="container">
    <form class="form-horizontal" ng-submit="postMixes()">
        <fieldset>
            <legend>New mix</legend>
            <div class="form-group">
                <label for="inputName" class="col-md-2 control-label">Title</label>

                <div class="col-md-10">
                    <input ng-model="newMix.name" class="form-control" id="inputName" placeholder="Title" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mix in mixes">
                <td>
                <button class="btn btn-raised btn-link" ng-click="deleteMixes(mix._id)">
                    <i class="material-icons">delete</i>
                </button>
                </td>
                <td><a ng-href="#/mixes/{{mix._id}}">{{mix.name}}</a></td>
            </tr>
        </tbody>
    </table>
</div>