<div id="sections">
    <section id="player">
        Mix : {{mix.name}}
        <span class="btn material-icons" ng-click='togglePlayStop()'>{{paused ? "play_arrow" : "stop" }}</span>
        <span class="btn material-icons right" ng-click="searchBox()">queue_music</span>
        <span class="btn material-icons right" ng-click="postTrack()">add</span>

    </section>

    <!-- Horizontal Tracks-->
    <drag-piste tracks="draggableObjects"></drag-piste>


    <!-- Player -->

    <!-- <div ng-click="postTrack()" class="btn btn-danger btn-raised add-track"><i class="material-icons icon-plus">add</i></div> -->

    <!-- Draw all tracks settings -->
    <section id="multipisteVolume" ng-hide="hideMultipisteVolume">
        <div class="container" >
            <!--
            <canvas ng-repeat="n in audios" nx="slider" id="sliderPiste{{$index+1}}" min="0" max="100" label="Piste {{$index+1}}" height="200" width="80" class="slidernx"></canvas>
               -->
        </div>
    </section>
</div>