<div id="sections">

    <!-- Horizontal Tracks-->

        <drag-piste tracks="draggableObjects"></drag-piste>


    <!-- Player -->
    <section id="player">
        <div class="container">
            <span class="btn material-icons">skip_previous</span>
            <span class="btn material-icons" ng-click='togglePlayPause()'>{{paused ? "play_arrow" : "pause" }}</span>
            <span class="btn material-icons" ng-click='restart()'>stop</span>
            <span class="btn material-icons">skip_next</span>
            <span class="btn" disabled="true">3:11</span>
            <span class="togglebutton">
                <label>
                    <input type="checkbox" ng-model="loop" ng-change="toggleLoop()" checked="true">
                    <span class="labelToggle">Loop</span>
                </label>
            </span>

            <span class="btn material-icons right arrows" ng-show="!hideMultipisteVolume" ng-click="hideMultipisteVolume=true">arrow_drop_down</span>
            <span class="btn material-icons right arrows" ng-show="hideMultipisteVolume" ng-click="hideMultipisteVolume=false">arrow_drop_up</span>
        </div>
    </section>

    <button ng-click="postTrack()">add track</button>

    <!-- Draw all tracks settings -->
    <section id="tracks-settings">
        <div ng-repeat="object in draggableObjects">
            <input
                    type="range"
                    min="0"
                    max="100"
                    step="1"
                    ng-model="object.volume"
                    ng-change="volumeHasChanged(object, $index)">
        </div>
    </section>
</div>