<section id="contains-tracks" dragula='"sixth-bag"' >
    <div id="mesure"></div>
    <div class="tracks-zone" ng-repeat="n in draggableObjects" nx="slider" id="piste{{n}}" min="0" max="100">
        <div class="tracks">
            <div class="head">
                <span class="handle">
                   &#8597;
                </span>
                <span class="label">piste {{n.name}}</span>
                <span class="material-icons">close</span>
                <span class="material-icons">volume_mute</span>
            </div>
        </div>
    </div>
</section>