<section id="contains-tracks" class="col-xs-8">
    <div id="mesure"></div>
    <div class="tracks-zone" ng-repeat="track in tracks" nx="slider" id="piste{{$index}}" min="0" max="100">
        <table class="tracks">
            <tr class="multi-tracks">
                <td class="head" ng-style="myMarginStyle">
                    <span class="handle">
                       &#8597;
                    </span>
                    <span class="label">piste {{track.name}}</span>
                    <span class="material-icons" ng-click="deleteTrack(track._id)">close</span>
                    <span class="material-icons">volume_mute</span>
                </td>
                <td
                        class="blank "
                        id="sample{{track._id}}{{$index}}"
                        ng-repeat="sample in track.samples track by $index"
                        ng-mouseup="dropSample(track._id, $index)"
                        ng-mousedown="dragSample(track._id, $index, sample)"
                        ng-dblclick="deleteSample(track._id, $index, sample)"
                        ng-init="drawWaveForm(track._id, $index)"
                ></td>
            </tr>
            <div class="clear1px"></div>
        </table>
    </div>

    <div id="floatingSample"><i class="material-icons">music_note</i></div>

</section>

<section class="col-xs-4 sample-picker">
<div class="panel panel-info">
    <div class="panel-heading">
        <input type="text" placeholder="Recherche" class="search-input" ng-model="searchSample"/>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="pointer" ng-click="order('name')">Name</th>
                <th class="pointer" ng-click="order('bpm')">BPM</th>
            </tr>
            </thead>
            <tbody>
            <tr class="move" ng-repeat="sample in samples | orderBy:predicate:reverse | filter:searchSample" ng-mousedown="selectSample(sample)">
                <td>{{sample.name}}</td>
                <td>{{sample.bpm}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</section>
<div class="clear1px">&nbsp;</div>