<section id="contains-tracks" ng-class="searchBoxVisible ? 'col-xs-8' : 'col-xs-12'">
    <div id="mesure"></div>
    <div class="tracks-zone" ng-repeat="track in tracks" id="piste{{$index}}">
        <table class="tracks">
            <tr class="multi-tracks">
                <td ng-style="myMarginStyle">
                    <span class="material-icons pointer" ng-click="openEditModal(track)">edit</span>
                    <span class="label">{{track.name | limitTo: 8}}</span>
                    <span class="material-icons" ng-click="deleteTrack(track._id)">close</span>
                    <span class="material-icons">volume_mute</span>
                </td>
                <td
                        class="blank "
                        id="sample{{track._id}}{{$index}}"
                        ng-repeat="sample in track.samples track by $index"
                        ng-mouseup="dropSample(track._id, $index)"
                        ng-mousedown="dragSample(track._id, $index, sample)"
                        ng-dblclick="deleteSample(track._id, $index, sample)"
                        ng-init="drawWaveForm(track._id, $index)"
                ></td>
            </tr>
            <div class="clear1px"></div>
        </table>
    </div>

    <div id="floatingSample"><i class="material-icons">music_note</i></div>

</section>

<section class="col-xs-4 sample-picker" ng-class="searchBoxVisible ? '' : 'searchBoxHide'">
<div class="panel panel-info">
    <div class="panel-heading">
        <i class="search material-icons">search</i>
        <input type="text" placeholder="Recherche" class="form-control search-input" ng-model="searchSample"/>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="pointer" ng-click="order('name')">Name</th>
                <th class="pointer" ng-click="order('bpm')">BPM</th>
            </tr>
            </thead>
            <tbody>
            <tr class="move" ng-repeat="sample in samples | orderBy:predicate:reverse | filter:searchSample" ng-mousedown="selectSample(sample)">
                <td>{{sample.name}}</td>
                <td>{{sample.bpm}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</section>
<div class="clear1px">&nbsp;</div>


<div class="modal" id="edit-track">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Update name</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" ng-model="trackToEdit.name" class="form-control" placeholder="track name" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateName()">Mettre à jour</button>
            </div>
        </div>
    </div>
</div>